<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Executive Followup - Starter Wireframe</title>
  <meta name="author" content="Missy Maloney">
  <meta name="description" content="Keep track of your college school work.">
  <meta name="keywords" content="Thinkful">

  <!-- responsive viewport tag, tells small screens that it is responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <!-- stylesheets -->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/reviewPlanOfAction.css">
  
  <!--  favicon link will go here-->
  


</head>
<body>
    <nav id="top-nav" role="navigation">
            <h3 id="nav-logo">ExecFollowup</h3>
            <h3 id="view-past-weeks">Weeks</h3>
            <h3 id="update-profile">Profile</h3>
            <h3 id="logout">Logout</h3>
    </nav>
    <main role="main">
        <header role="banner">
            <h1>Review and Plan</h1>
            <p>Review Plan of Action</p>
            <div class="student-details">
                            <div class="student-detail">
                                <div class="basic-header basic-detail left stud-name-label">Here is your plan.</div>
                                <p>Are you Ok with this!</p>
                            </div>
        </header>
        <div class="wrapper">
                <section>
                        <h3 class="class-title">Your Classes</h3>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">Biology 101</div>
                                        <div class="single-field">World History 100</div>
                                        <div class="single-field">Calc 101</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">French 101</div>
                                        <div class="single-field">English 100</div>
                                </div>
                        </div>
                </section>
                <section>
                    <h3 class="class-title">This Week's Deliverables</h3>
                    <div class="class-grade-info">
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">Biology 101</div>
                                        <div class="single-field">Quiz</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">Wednesday, April 12, 2019</div>
                                        <div class="single-field">Hrs Prep: 2</div>
                                </div>
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">Biology 101</div>
                                        <div class="single-field">Lab</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">Friday, April 14, 2019</div>
                                        <div class="single-field">Hrs Prep: 2</div>
                                </div>  
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">English 100</div>
                                        <div class="single-field">Essay</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">Thu, Apr 13, 2019</div>
                                        <div class="single-field">Hrs Prep: 2</div>
                                </div>  
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">World History</div>
                                        <div class="single-field">Quiz</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">Wednesday, April 12, 2019</div>
                                        <div class="single-field">Hrs Prep: 2</div>
                                </div>    
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field">Calc</div>
                                        <div class="single-field">Homework</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field">Fri, Apr 14, 2019</div>
                                        <div class="single-field">Hrs Prep: 1.5</div>
                                </div>   
                        </div>

                        <div class="edit-deliverables">
                                <button class="center-btn basic-btn" type="submit">Edit Deliverables?</button>
                        </div>  
                </section>
                <section>
                        <h3 class="class-title">This Week's Plan of Action</h3>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Sun, Apr 9, 2019</div>
                                        <div class="single-field action-deliverable">Biology 101 Quiz</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 1 hour</div>
                                        <div class="single-field action-complete">Plan is COMPLETE</div>
                                </div> 
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Tue, Apr 11, 2019</div>
                                        <div class="single-field action-deliverable">Biology 101 Quiz</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 1 hour</div>
                                        <div class="single-field action-complete">Plan is COMPLETE</div>
                                </div>
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Thu, Apr 13, 2019</div>
                                        <div class="single-field action-deliverable">Biology 101 Lab</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 2 hour</div>
                                        <div class="single-field action-complete">Plan is COMPLETE</div>
                                </div>
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Tue, Apr 11, 2019</div>
                                        <div class="single-field action-deliverable">English 100 Essay</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 1 hour</div>
                                        <div class="single-field action-complete">Plan is COMPLETE</div>
                                </div>
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Wed, Apr 12, 2019</div>
                                        <div class="single-field action-deliverable">English 100 Essay</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 1 hour</div>
                                        <div class="single-field action-complete">Plan is COMPLETE</div>
                                </div> 
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Wed, Apr 12, 2019</div>
                                        <div class="single-field action-deliverable">World History Quiz</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 2 hour</div>
                                        <div class="single-field action-complete">Plan is INCOMPLETE</div>
                                </div> 
                        </div>
                        <div class="section-one">
                                <div class="sub-section-one">
                                        <div class="single-field action-date">Thu, Apr 13, 2019</div>
                                        <div class="single-field action-deliverable">Calc Homework</div>
                                </div>
                                <div class="sub-section-one">
                                        <div class="single-field action-prephrs">Hrs Prep: 1.5 hour</div>
                                        <div class="single-field action-complete">Plan is INCOMPLETE</div>
                                </div> 
                        </div>
                        <div class="edit-plan">
                                <button class="center-btn basic-btn">Edit Plan?</button>
                        </div>
                </div>  
                </section>
                <section>
                        <div class="sub-nav-buttons center ">
                                <button class="basic-btn nav-btn add-deliverable" type="submit">Ready to Commit to your Plan!  Great!</button>
                        </div>
                </section>
                <section>
                        <div class="nav-btns">
                            <div class="nav-btn">
                                    <button class="basic-btn nav-btn back">Back</button>
                            </div>
                        </div>  
                </section>
        </div>
    </main>
    <footer role="content-info">Footer</footer>
</body>
</html>