.add-form {
    margin-top: 20px;
    margin-bottom: 15px;
}

.course{
    margin:0 auto;
}

.course-input {
    width: 150px;
    margin-top: 5px;
    margin-bottom:5px;
}

.add-btn,
.cancel-btn {
    width: 50px;
}
