.backdrop-blue {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: #31708E; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31708E), to(#3e8eb4));
    background-image: -webkit-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -moz-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -ms-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -o-linear-gradient(top, #31708E, #3e8eb4);
    background-image: linear-gradient(to bottom, #31708E, #3e8eb4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#31708E, endColorstr=#3e8eb4);

   /* background: rgba(0,0,0,0.5); */
    z-index: 100;

   
}