.dashboard-container {
    height: 100%;
    width: 100%;
    background-color: #f9f9fa; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9fa), to(#DEE0E2));
    background-image: -webkit-linear-gradient(top, #f9f9fa, #DEE0E2);
    background-image: -moz-linear-gradient(top, #f9f9fa, #DEE0E2);
    background-image: -ms-linear-gradient(top, #f9f9fa, #DEE0E2);
    background-image: -o-linear-gradient(top, #f9f9fa, #DEE0E2);
    background-image: linear-gradient(to bottom, #f9f9fa, #DEE0E2);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f9fa, endColorstr=#DEE0E2);
}

.dashboard-content {
        width: 70%;
        position:absolute;
        top: 60px;
        left: 15%;
        margin:0 auto;
        padding: 50px 25px;
}


.dashboard-no-data {
    width: 90%;
    background-color: var(--off-white-color);
    position: relative;
	padding: 20px;
	margin: 0 auto;
    background-color: var(--off-white-color);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);


}

.deliverables-container {
    margin-bottom: 8px;
}

.row-deliverable,
.row-week-list-labels,
.row-section{
    display:flex;
    flex-direction: row;
    list-style-type: none;
  }

.row-deliverable,
.row-week-list-labels {
    width: 100%;
}

.row-week-list-labels {
    font-size: 14px;
    border-radius: 3px;
}

.skills-suggestion {
    color: var( --pale-green-accent-color);
    font-size:18px;
    font-weight: bold;
    width: 75%;
    position: relative;
	padding: 20px;
	margin: 25px auto;
    background-color: var(--off-white-color);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  }



.row-deliverable {
    margin-top:4px;
    border: 2px solid var(--light-gray-color);
    border-radius: 3px;
}


.deliverable-label {
    font-family: var(--body-font-family);
    color: var( --darker-blue-color);
    background-color: var(--off-white-color);
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}




.column-item {
    width: 100%;
}

.review-and-plan {
    display:flex;
    flex-direction:row;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        .row-deliverable,
        .review-and-plan {
            flex-direction: column;
        }

        .review-and-plan {
            margin: 10px 5px;
        }
    
        .column-item {
            width: 50%;
        }
        .courseName,
        .dueDate {
            font-weight: bold;
            color: var(--off-white-color);
            background-color: var(--mossy-green-color);
        }
    
        .row-week-list-labels {
            display: none;
        }

        .column-item {
            width: 50%;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .row-deliverable,
        .review-and-plan {
            flex-direction: column;
        }

        .review-and-plan {
            margin: 10px 5px;
        }
    
        .column-item {
            width: 50%;
        }
        .courseName,
        .dueDate {
            font-weight: bold;
            color: var(--off-white-color);
            background-color: var(--mossy-green-color);
        }
    
        .row-week-list-labels {
            display: none;
        }

        .column-item {
            width: 50%;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .row-deliverable,
        .review-and-plan {
            flex-direction: row;
        }

        .review-and-plan {
            margin: 10px 5px;
        }
    
        .column-item {
            width: 50%;
        }
        .courseName,
        .dueDate {
            font-weight: bold;
            color: var(--off-white-color);
            background-color: var(--mossy-green-color);
        }
    
        .row-week-list-labels {
            display: none;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




