/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        .row-week-list-labels {
            display:flex;
            flex-direction: row;
            list-style-type: none;
            width: 100%;
            font-size: 14px;
            border-radius: 3px;
        }

        .row-week-list-labels {
            display: none;
        }

        .whats-due {
            position:relative;
            font-family: var(--header-font-family);
            color: var(--navy-color);
            font-weight: bold;
            font-size: 20px;
            text-align:center;
            margin-bottom: 12px;
        }

        .deliverable-container-green {
            position:relative;
            width: 100%;
            border:1px solid #7f8f79; 
            text-decoration:none; 
            display:inline-block;
            color: var(--darker-blue-color);
            border:1px solid #768871; -webkit-border-radius: 3px; 
            -moz-border-radius: 3px;
            border-radius:3px;
            font-size:14px;
            font-family:var(--body-font-family); 
            padding: 10px 10px 10px 10px; 
            color: #FFFFFF;
            background-color: #93A28F; background-image: -webkit-gradient(linear, left top, left bottom, from(#93A28F), to(#687864));
            background-image: -webkit-linear-gradient(top, #93A28F, #687864);
            background-image: -moz-linear-gradient(top, #93A28F, #687864);
            background-image: -ms-linear-gradient(top, #93A28F, #687864);
            background-image: -o-linear-gradient(top, #93A28F, #687864);
            background-image: linear-gradient(to bottom, #93A28F, #687864);
            filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A28F, endColorstr=#687864);
        }

        .week {
            margin-bottom: 10px;
        }

        .dels-label {
            font-size:18px;
        }
    
        .dels-date {
            font-size: 16px;
            margin: 4px auto;
        }

        .dels-header {
            margin-bottom: 10px;
        }
    
        .dels-subhead{
            display:flex;
            flex-direction:row;
        }

        .message-subtext {
            color:var(--navy-color);
            font-size: 18px;
            text-align:left;
            padding-left: 25px;
        }


    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
       

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .dueDate {
            font-weight: bold;
            color: var(--off-white-color);
            background-color: var(--mossy-green-color);
        }
    
        .row-week-list-labels {
            display: none;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




