.deliverable-sub-section {
    display:flex;
    flex-direction:row;
    border: 1px solid;
}

.deliverable-sub-section li {
    background-color:var(--off-white-color);
    color: var(--darker-blue-color);
}


.dueDate,
.prephrs,
.courseName,
.deliverableName,
.deliverableDesc {
    text-align:left;
    padding-left: 8px;
}

.week-list-label {
    text-align:center;
}



/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .deliverable-sub-section {
            flex-direction:column;
            border: 1px solid;
        }

        .row-deliverable li.dueDate {
            font-size: 14px;
            background-color:var(--mossy-green-color);
            color: var(--off-white-color);
        }
    
        .row-deliverable li.dueDate {
            font-weight: bold;
        }

        .sec-one,
        .sec-two,
        .sec-three{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        
        
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
       

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        

    
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



