
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .impact-key {
            color: var(--darker-blue-color);
            font-size:14px;
            width: 92%;
            position: relative;
            padding: 10px;
            text-align:left;
            margin: 8px auto;
            background-color: var(--off-white-color);
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        }

        .deliverable-width {
            width: 100%;
        }

        .key-option {
            padding-top:2px;
            padding-bottom:2px;
            font-size: 18px;
        }

        .key-tagline {
            padding-top:2px;
            padding-bottom:7px;
            border-bottom: 1px solid var(--darker-blue-color);
            text-align:center;
            font-size: 18px;
        }

        .indent-twelvepx {
            padding-left:12px;
        }
        
        .deliverable-section {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        
        .single-deliverable {
            display: flex;
            flex-direction: row;
            border: 1px solid;
        }
        
        .course-header {
            font-weight: bold;
            text-align: left;
        }
        
        .course-deliverables-field {
            text-align: left;
            padding-left: 60px;
        }
        
        .del-form li {
            color: var(--off-white-color);
            font-size: 14px;
        }
        
        .del-unit-container {
                border:1px solid #59a3c6; 
                -webkit-border-radius: 3px; 
                -moz-border-radius: 3px;
                border-radius: 3px;
                font-size:14px;
                font-family:var( --body-font-family); 
                padding: 10px 10px 10px 10px; 
                text-decoration:none; 
                font-weight:bold;
                
        }
        
        .ul-deliverable {
            margin-bottom: 10px;
        }
        
        
        .add-deliverable {
            margin: 0 auto;
        }
        .del-form {
            display:flex;
            flex-direction:column;
        }

        .dropdown.course {
            width: 96%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .del-row {
            display:flex;
            flex-direction: column;
        }

        .duedate,
        .delname,
        .prephrs,
        .impact,
        .desc {
            width: 100%;
        }

        .course-select {
            width: 75%;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .view-deliverables-label {
            padding-top:10px;
            font-size:16px;
        }

        .add-deliverable-link-spacer,
        .add-deliverable-link-spacer-impact {
            border-top: 1px solid var(--off-white-color);
            padding-top: 10px;
        }

        .show-impact {
            border-bottom: 2px solid var(--off-white-color);
 
        }

        
      
      }
  
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
        .impact-key {
            width: 75%;
            padding-left: 40px;
        }

        .tall-titles {
            height: 48px;
        }
      
      }
  
      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {

        .impact-key {
            width: 50%;
            padding-left: 40px;
        }
        .del-row {
            display:flex;
            flex-direction: row;
        }

        .dropdown.course {
            width: 40%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .duedate {
            width:30%;
        }
        
        .delname {
            width: 50%;
        }
        
        .prephrs {
            width: 20%;
         }
        
        .impact {
            width: 30%;
        }
        
        .desc {
            width: 70%;
        }

        .tall-titles {
            height: initial;
        }

        .deliverable-option-bar {
            display:flex;
            flex-direction:row;
            width: 100%;

        }
        
        .view-deliverables {
            width: 58%;
            margin: 5px;
        }
        
        .view-deliverables-label {
            border: 0;
        }

        .show-impact {
            border-top: 1px solid var(--off-white-color);
        }

        .add-deliverable {
            width: 38%;
            margin: 5px;
        }

        .add-deliverable-link-spacer {
            height: 40px;
            border: 0;
        }

        .add-deliverable-link-spacer-impact {
            height: 0;
        }
      
      }
   
  
      /* Medium Devices, Desktops */
      @media only screen and (min-width: 992px) {
          
            .deliverable-option-bar-full {
                display:flex;
                flex-direction:row;
                width: 95%;
                border-bottom: 1px solid var(--off-white-color);
                margin-bottom: 10px;
            }
            

            .add-deliverable-link-spacer-impact {
                height: 40px;
                border-top: none;
            }

            .show-impact {
                border: none;
            }

            .deliverable-flex {
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
            }

            .action-btns {
                width: 13%;
            }
  
      }
  
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
  
      }
  