
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .impact-key {
            color: var(--darker-blue-color);
            font-size:14px;
            width: 100%;
            position: relative;
            padding: 10px;
            text-align:left;
            margin: 8px auto;
            background-color: var(--off-white-color);
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        }

        .deliverable-width {
            width: 100%;
        }

        .key-option {
            padding-top:2px;
            padding-bottom:2px
        }

        .indent-twelvepx {
            padding-left:12px;
        }
        
        .deliverable-section {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        
        .single-deliverable {
            display: flex;
            flex-direction: row;
            border: 1px solid;
        }
        
        .course-header {
            font-weight: bold;
            text-align: left;
        }
        
        .course-deliverables-field {
            text-align: left;
            padding-left: 60px;
        }
        
        .del-form li {
            color: var(--off-white-color);
            font-size: 14px;
        }
        
        .del-unit-container {
                border:1px solid #59a3c6; 
                -webkit-border-radius: 3px; 
                -moz-border-radius: 3px;
                border-radius: 3px;
                font-size:14px;
                font-family:var( --body-font-family); 
                padding: 10px 10px 10px 10px; 
                text-decoration:none; 
                font-weight:bold;
                
        }
        
        .ul-deliverable {
            margin-bottom: 10px;
        }
        
        
        .add-deliverable {
            margin: 0 auto;
        }
        .del-form {
            display:flex;
            flex-direction:column;
        }

        .dropdown.course {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .del-row {
            display:flex;
            flex-direction: column;
        }

        .duedate,
        .delname,
        .prephrs,
        .impact,
        .desc {
            width: 100%;
        }

        
      
      }
  
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
        .impact-key {
            width: 75%;
            padding-left: 40px;
        }
      
      }
  
      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {

        .impact-key {
            width: 50%;
            padding-left: 40px;
        }
        .del-row {
            display:flex;
            flex-direction: row;
        }

        .dropdown.course {
            width: 40%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .duedate {
            width:30%;
        }
        
        .delname {
            width: 50%;
        }
        
        .prephrs {
            width: 20%;
         }
        
        .impact {
            width: 30%;
        }
        
        .desc {
            width: 70%;
        }
      
      }
   
  
      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px) {
          .deliverable-flex {
              display:flex;
              flex-direction:row;
              flex-wrap:wrap;
          }

          .deliverable-width {
              width: 48%;
              margin:5px;
          }
  
      }
  
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
  
      }
  