.form-section {
    display:flex;
    flex-direction: row;
}

.landingLogin {
    background-color: gray;
    width: 350px;
    margin: 0 auto;
}

#login-form {
    padding-left: 50px;
    width: 200px;
}

#login-btns {
    text-align: center;
}

#ask-to-reg{
    padding-top: 10px;
}
