.main-nav {
    display:flex;
    flex-direction: row;
    padding: 1% 0;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;  
}
    
#nav-logo {
    padding:0 10px;
    width: 60%;
    text-align:left;
}
