.navbar {
    z-index:200;
    text-align: center;
    background-color: #31708E; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31708E), to(#3e8eb4));
    background-image: -webkit-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -moz-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -ms-linear-gradient(top, #31708E, #3e8eb4);
    background-image: -o-linear-gradient(top, #31708E, #3e8eb4);
    background-image: linear-gradient(to bottom, #31708E, #3e8eb4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#31708E, endColorstr=#3e8eb4);
}



.navbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}




.btn-twohundred {
  width:200px;
}



.navbar-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  font-size:14px;
  font-family: var(--header-font-family );

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-weight:bold; 
  color: #2B423B;
  background-color: #B8D8ED; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B8D8ED), to(#8FC1E3));
  background-image: -webkit-linear-gradient(top, #B8D8ED, #8FC1E3);
  background-image: -moz-linear-gradient(top, #B8D8ED, #8FC1E3);
  background-image: -ms-linear-gradient(top, #B8D8ED, #8FC1E3);
  background-image: -o-linear-gradient(top, #B8D8ED, #8FC1E3);
  background-image: linear-gradient(to bottom, #B8D8ED, #8FC1E3);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B8D8ED, endColorstr=#8FC1E3);

}



.navbar-unit-one {
  display:flex;
}

.main-dropdown {
  margin: 0 auto;
  width: 175px;
  font-size:14px;
  font-family: var(--header-font-family );
  cursor:pointer;
  border:1px solid #768871; 
  border-radius: 3px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
  text-decoration:none; 
  display:inline-block;
  color: var(--dark-mossy-green-color);
  background-color: var(--off-white-color); 
}

/*
.navbar_logo .link {
    color: var(--off-white-color);
    text-decoration: none;
    font-size: 1rem;
}

.navbar_navigation-items .link {
    color: var(--off-white-color);
    text-decoration: none;

}

.navbar_navigation-items .link:hover,
.navbar_navigation-items .link:active {
    color: var();
}
*/

/*==========  Mobile First Method  ==========*/



  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
    .spacer-hamburger {
      flex: 1 1 auto;
    }

    .navbar_right-toggle-button {
      padding-top: 6px;
    }

    .btn-onefifty {
      width: 120px;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 185px;
    }

    .navbar-positioning {
      display:flex; 
      flex:auto;
      height: 100%;
      align-items: center;
    }

    .navbar_navigation {
      display: flex;
      flex-direction:column;
      height: 100%;
      padding: 0 1rem;
      align-items: left;
    }

    .navbar_navigation-items {
      width: 100%;
    }

    .navbar_navigation-items ul {
      width: 100%;
      display:flex;
      flex-direction:column;
      border-top: 1px solid var(--off-white-color);
    }

    .navbar-item {
      margin:0;
    }

    .term-unit {
      display:flex;
      flex-direction: row;
    }

    .review-unit {
      display:flex;
      flex-direction: row;
      flex: auto;
      border-top: 1px solid var(--off-white-color);
    }

    .term-label {
      padding-right: 5px;
      padding-top: 7px;
      font-size: 18px;
    }

    .terms-dropdown {
      width: 150px;
      font-size: 18px;
    }
    
    .logo-group {
      display:flex;
      flex-direction: row;
      padding-top: 20px;
    }
    
    .logo-verbage {
      font-size:16px;
      font-family: var(--header-font-family );
      width: 200px;
      padding-left: 6px;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    
    .logo-nav-image {
      height: 55px;
      padding-left: 9px;
      display:flex;
      flex-direction:column;
      justify-content:center;
    } 


    .right-toggle-button-parent {
      position:absolute;
      right: 18px;
    }

    .tbl-container {
      padding: 9px 0;
    }
   
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {
  
 
  }
   
  

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

    .btn-onefifty {
      width: 150px;
    }

    .navbar_navigation-items ul {
      width: 100%;
      display:flex;
      margin-right: 20px;
      flex-direction:row;
      text-align:center;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 135px;
      text-align: center;
    }

    .review-unit {
      border-top: initial;
    }

    .navbar-item {
      padding-top: initial;
      padding-bottom: initial;
      margin:0;
    }

    .weeks-link{
      display:initial;
    }

  
  }
    

  @media (min-width: 835px) {
    
  }
   

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }