.navbar {
    height: 60px;
    background-color: var(--mossy-green-color);
    color: var(--off-white-color);
    text-align: center;
    border: 1px solid darkblue;
}

.navbar-menu {
    margin-top: 15px;
}

.navbar-item {
    padding: 3px;
}

.dashboard {
    text-align: left;
}

.logout {
    text-align: right;
}