.profile-header {
    margin-top: 150px;
}

.profile-nav {
    display:flex;
    flex-direction: row;
    padding: 1% 0;
    background-color: #aaa;
   
}

.term-menu {
    margin: 0 auto;
}

.course-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profile-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    list-style-type: none;
  }


.profile-list {
    list-style-type: square;
}


.section {
    background-color: var( --darker-blue-color);
    color: var(--off-white-color);
    padding: 4px;
    margin: 5px;
    border-radius: 4px;
  }

  .course {
      width: 200px;
  }
  







