.profile-header {
    margin-top: 150px;
}

.profile-nav {
    display:flex;
    flex-direction: row;
    padding: 1% 0;
    background-color: #aaa;
   
}

.term-menu {
    margin: 0 auto;
}

.course-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.term-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    list-style-type: none;
  }

.profile-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    list-style-type: none;
  }


.profile-list {
    list-style-type: square;
}




  .course {
      width: 200px;
  }


  







