




/*  Week Stuff */
.student-section{
    display: flex;
    flex-direction: row;
}

.myweek-wrapper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.myweek-label {
    font-weight: bold;
}

.myweekitem {
    width: 50%;
    border: 1px solid;
}

/*  grades stuff */

.myweek-grades-wrapper {
    width: 100%;
}

.courses-grades-wrapper {
    width: 100%;
    border: 1px solid;
    margin: 0 auto;
}

.course-grades-list {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    list-style: none;
}

.course-grade-detail {
    width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction:row;
    margin: 0 auto;
}

.course-field {
    border: 1px solid;
    width: 50%;
   
}
.grade-field {
    border: 1px solid;
    width: 50%;
}
