/*.nav-btns,
.attitudes,
.difficulties,
.deliverable-types,
.deliverables,
.view-deliverables,
.view-plan-of-action {
   display: flex;
   flex-direction: row;
}

.view-deliverables {
   width: 100%;
}
.nav-btn,
.attitude,
.difficulty,
.deliverable {
   width:50%;
   text-align:center;
}

.view-deliverable,
.view-plan-item {
   border: 1px solid;
   width: 25%;
}

.review-nav-btn-back {
   text-align:left;
}

.form-title {
   font-weight: bold;
}

.form-inputs {
   border:1px solid;
   width: 75%;
}

.current-grade-note {
   width: 100%;
}

.form-title {
   text-align: left;
   padding: 4px 20px;
}

.class-grade-info {
   padding: 5px;
}

.deliverable-types,
.center {
   text-align:center;
}

.deliverable-inputs {
   width: 50%;
   background-color: white;
   border: 1px solid;
   margin:0 auto;
}

.date-input {
   display: flex;
   flex-direction: row;
   justify-content:center;
}

select,
textarea {
   width: 100%;
}

.border {
   border: 1px solid;

}

.instruction {
   padding: 5px 0;
   font-style: italic;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

   .deliverables,
   .deliverable-types {
      flex-direction: column;
   }

   .deliverable-type,
   .deliverable
   {
      width: 100%;

   }

   .review-nav-btn {
      width: 100%;
      margin-bottom: 10px;
   }
   

}
*/

