ul {
    padding: 0;
}

.myweek-details-list {
    display:flex;
    display:column;
}



/*  Week Stuff */
.student-section,
.student-section-labels {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.student-section-labels {
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.349);
}

.myweek-label {
    font-weight: bold;
}

.myweekitem {
    width: 50%;
    border: 1px solid;
}

.myweeksection,
.myweeksectionlabels {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    width: 80%;
    margin: 0 auto;
}

.myweekupdatelabel,
.myweekupdateitem {
    width: 50%;
    border: 1px solid;
    padding: 3px;
    margin: 5px;
    
}

.myweekitemlabel {
    width: 50%;
    border: 1px solid;
}



.li-courses {
    width: 20%;
}

.course-grade-detail {
    width: 100%;
    border: 1px solid green;
    margin: 0 auto;
}

.unit-course-grade-blue {
    border:1px solid #59a3c6; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-family:var( --body-font-family); 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    font-weight:bold; color: #FFFFFF;
    background-color: #83bad4; background-image: -webkit-gradient(linear, left top, left bottom, from(#83bad4), to(#3E8EB4));
    background-image: -webkit-linear-gradient(top, #83bad4, #3E8EB4);
    background-image: -moz-linear-gradient(top, #83bad4, #3E8EB4);
    background-image: -ms-linear-gradient(top, #83bad4, #3E8EB4);
    background-image: -o-linear-gradient(top, #83bad4, #3E8EB4);
    background-image: linear-gradient(to bottom, #83bad4, #3E8EB4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#83bad4, endColorstr=#3E8EB4);
  }


.course-field {
    border: 1px solid;
    width: 50%;
   
}
.grade-field {
    border: 1px solid;
    width: 50%;
}
.grade-label,
.grade {
    color: var(--dark-mossy-green-color);
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight:bold;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;

}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .course-grades {
            display:flex;
            flex-direction:column;
            width: 75%;
            margin:0 auto;

        }
        
      }
  
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
        .course-grades {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            width: 100%;
            margin:0 auto;

        }

        .unit-course-grade-blue {
            width: 47%;
        }
        
      
      }
  
      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {
            .course-grades {
                display:flex;
                flex-direction:row;
            }

            .unit-course-grade-blue {
                width: 31%;
            }
        }
          
        
   
  
      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px) {

        .unit-course-grade-blue {
            width: 15%;
        }
  
      }
  
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
  
      }
  
  
  
    
  
  
  
