ul {
    padding: 0;
}

.myweek-details-list {
    display:flex;
    display:column;
}



/*  Week Stuff */
.student-section,
.student-section-labels {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.student-section-labels {
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.349);
}

.myweek-label {
    font-weight: bold;
}

.myweekitem {
    width: 50%;
    border: 1px solid;
}

.myweeksection,
.myweeksectionlabels {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    width: 80%;
    margin: 0 auto;
}

.myweekupdatelabel,
.myweekupdateitem {
    width: 50%;
    border: 1px solid;
    padding: 3px;
    margin: 5px;
    
}

.myweekitemlabel {
    width: 50%;
    border: 1px solid;
}

.action-btns {
    margin-top: 12px;
    margin-bottom: 12px;
}


.li-courses {
    width: 20%;
}

.course-grade-detail {
    width: 100%;
    border: 1px solid green;
    margin: 0 auto;
}


.course-field {
    border: 1px solid;
    width: 50%;
   
}
.grade-field {
    border: 1px solid;
    width: 50%;
}
