/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .right-side-drawer {
            height: 33%;
            width: 55%;
            position: fixed;
            right:0;
            top: 170px;
            border:1px solid #D5D8DA;
            font-size:20px;
            font-family: var(--body-font-family );
            text-decoration:none; 
            display:inline-block;
            font-weight:bold; 
            color: #2B423B;
            background-color: #D5D8DA; 
            background-image: -webkit-gradient(linear, left top, left bottom, from(#D5D8DA), to(#fff));
            background-image: -webkit-linear-gradient(top, #D5D8DA, #fff);
            background-image: -moz-linear-gradient(top, #D5D8DA, #fff);
            background-image: -ms-linear-gradient(top, #D5D8DA, #fff);
            background-image: -o-linear-gradient(top, #D5D8DA, #fff);
            background-image: linear-gradient(to bottom, #D5D8DA, #fff);
            filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D5D8DA, endColorstr=#fff);     
            box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
            max-width: 400px;
            z-index: 300;
            transform: translateY(-20%);
            transition: transform 0.3s ease-out;
        }

        .right-side-drawer.open {
            transform: translateY(0);
        }

        .right-side-drawer.closed {
            display:none;
        }

        .drawer-column {
            display:flex;
            flex-direction:column;
            justify-content:space-between;
        }

        .menu-item {
            padding-top: 10px;
            padding-bottom: 10px;
            font-family:var(--body-font-family);
            font-size:20px;
        }

        .side-drawer ul {
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }

        .username-background {
            opacity: .7;
            border:1px solid #7f8f79; 
            text-decoration:none; 
            display:inline-block;
            color: var(--off-white-color);
            color: #FFFFFF;
            background-color: #93A28F; background-image: -webkit-gradient(linear, left top, left bottom, from(#93A28F), to(#687864));
            background-image: -webkit-linear-gradient(top, #93A28F, #687864);
            background-image: -moz-linear-gradient(top, #93A28F, #687864);
            background-image: -ms-linear-gradient(top, #93A28F, #687864);
            background-image: -o-linear-gradient(top, #93A28F, #687864);
            background-image: linear-gradient(to bottom, #93A28F, #687864);
            filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A28F, endColorstr=#687864);
        }


        .drawer-navlink {
            color: var(--mossy-green-color);
        }

        .drawer-navlink:hover {
            color:var(--darker-blue-color);
            background-color:transparent;
            font-size:24px;
            font-weight:bold;

        }

        .drawer-logoutlink {
            color: var(--off-white-color);
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .drawer-logoutlink-background {
            background-color:var(--darker-blue-color);
        }

        .drawer-logoutlink:hover {
            background-color:transparent;
            color: var(--off-white-color);
        }

        .drawer-logoutlink-background:hover {
            background-color:var(--mossy-green-color);
        }
      
      }
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {

        .right-side-drawer {
            top: 210px;
        }
      }
  
      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {
        .right-side-drawer {
            top: 140px;
        }
      
      }

      @media (min-width: 835px) {
        
        }
   
  
      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px) {
          /*
        .right-side-drawer {
            top: 65px;
            right: 30px;
        }
        */
  
      }
  
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
  
      }
  
