
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .skills-suggestion {
            color: var( --pale-green-accent-color);
            font-size:16px;
            font-weight: bold;
            width: 100%;
            position: relative;
            padding: 10px;
            margin: 8px auto;
            background-color: var(--off-white-color);
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
          }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .skills-suggestion {
            width: 60%;
        }
       

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .skills-suggestion {
            width: 60%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




