
.data-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid purple;
    
}
.single-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.items-list {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-data {
    padding: 3px 10px;
    border: 1px solid yellow;

}

.week-wrapper {
    margin-bottom: 120px;
   
}




.data-list {
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
}

.weeks-list {
    display:flex;
    flex-direction: column;
    list-style: none;
}


.section-one,
.sub-section-one {
    display:flex;
    flex-direction:row;
}

.section-one {
    margin-bottom: 10px;
}

.single-field {
    border:1px solid;
    padding: 4px;
}

.week-info,
.week-detail {
    width: 40%;
}

.week-view-btn {
    width: 20%;
}

.week-num {
    width: 40%;
}

.week-end {
    width: 60%;
}

.week-deliv,
.week-prep {
    width: 50%;
}

.week-view-plan {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .section-one {
        flex-direction: column;
    }

    .week-info,
    .week-detail {
        width: 100%;
    }

    .week-num,
    .week-end,
    .week-deliv,
    .week-prep {
        width: 50%;
    }

    .week-view-btn {
        width: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section-one {
        flex-direction: column;
    }

    .sub-section-one {
        flex-direction:column;
    }

    .single-field {
        width: 100%;
    }

    
}