/*
.data-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    border: 1px solid purple;
    
}
.single-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.items-list {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin:0;
    padding: 0;
}

.thisweek-group-details {
    display: flex;
    flex-direction: column;
}

.thisweek-group {
    display:flex;
    flex-direction: row;
    border: 1px solid;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.week-detail {
    display:flex;
    flex-direction: row;
    padding: 3px 10px;
    border: 1px solid yellow;
    width: 50%;
    text-align: left;
    margin: 0 auto;

}

*/

.weeks-wrapper {
    margin-top: 100px;
    margin-bottom: 120px;
    border: 1px solid;
   
}

.weeks-section {
   
    border: 1px solid blue;
}
/*
.items-list-label {
    display: flex;
    flex-direction: row;
}
/*
.week-data-item {
    padding: 3px 10px;
    border: 1px solid yellow;
    width: 15%;
}
*/
/*
.week-detail-label {
    border: 1px solid pink;
    width: 35%;
    padding-right: 5px;
}

.week-detail-data{
    border: 1px solid lightgreen;
    width: 60%;
    padding-left: 5px;
}

.item-data {
    padding: 3px 10px;
    border: 1px solid yellow;
}




.update-btn {
    width:25%;
    margin: 15px auto;
}


.edit-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.single-course {
    border: 1px solid pink;
}




.data-list {
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
}

.weeks-list {
    display:flex;
    flex-direction: column;
    list-style: none;
}


*/
